body {
    font-family: Arial;
    font-size:12px;
}

li {
    margin:5px;
}
a {
    font-family:Arial;
    font-size:14px;
    color:#333333;
    text-decoration:none;
}
 a.back {
        color:blue !important;
    }
pre {
    font-size:12px;
}
 div#code h3, div#result button {
        float:left;
        margin:0px;
        padding:0px;
        margin-right:50px;
    }
div#code h3 {
    margin-top:5px;
}
div#code {
     width:90%;
      text-align:left;
      padding:5px;
}
ol.Answers pre {
    color:blue;
}